<div class="container">
  <h2>Custom Chart</h2>
  <custom-chart
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [timeline]="timeline"
    [curve]="curve"
    [yScaleMax]="yScaleMax"
    [xScaleMax]="xScaleMax"
    [yScaleMin]="yScaleMin"
    [xScaleMin]="xScaleMin"
    [showGridLines]="showGridLines"
    (select)="onSelect($event)">
  </custom-chart>
</div>
