<ngx-charts-chart
  [view]="[width, height]"
  [showLegend]="legend"
  [legendOptions]="legendOptions"
  [activeEntries]="activeEntries"
  [animations]="animations"
  (legendLabelClick)="onClick($event)"
  (legendLabelActivate)="onActivate($event)"
  (legendLabelDeactivate)="onDeactivate($event)">
  <svg:defs>
    <svg:clipPath [attr.id]="clipPathId">
      <svg:rect
        [attr.width]="dims.width + 10"
        [attr.height]="dims.height + 10"
        [attr.transform]="'translate(-5, -5)'"/>
    </svg:clipPath>
  </svg:defs>


  <svg:g [attr.transform]="transform" class="area-chart chart">

    <svg:g ngx-charts-x-axis
      class="xAxisLegend"
      [xScale]="xScale"
      [dims]="dims"
      [showGridLines]="showGridLines"
      [showLabel]="showXAxisLabel"
      [labelText]="xAxisLabel"
      [tickFormatting]="xAxisTickFormatting"
      [ticks]="[1,5,10,15,20]"
      [xOrient]="'top'"
      (dimensionsChanged)="updateXAxisHeight($event)">
    </svg:g>

    <svg:g ngx-charts-y-axis
      class="yAxisLegend"
      [yScale]="yScale"
      [dims]="dims"
      [showGridLines]="showGridLines"
      [showLabel]="showYAxisLabel"
      [labelText]="yAxisLabel"
      [tickFormatting]="yAxisTickFormatting"
      [ticks]="yAxisTicks"
      (dimensionsChanged)="updateYAxisWidth($event)">
    </svg:g>

    <svg:g [attr.clip-path]="clipPath">

      <svg:g *ngFor="let series of results; trackBy:trackBy" >
        <svg:g ngx-charts-line-series
          [xScale]="xScale"
          [yScale]="yScale"
          [colors]="colors"
          [data]="series"
          [activeEntries]="activeEntries"
          [scaleType]="scaleType"
          [curve]="curve"
          [animations]="false"
          stroke="3"
        />
        <svg:g ngx-charts-area-series
          class="chartArea"
          [xScale]="xScale"
          [yScale]="yScale"
          [baseValue]="baseValue"
          [colors]="colors"
          [data]="series"
          [activeEntries]="activeEntries"
          [scaleType]="scaleType"
          opacity=".5"
          [curve]="curve"
          [animations]="false"

        />
      </svg:g>

      <svg:g *ngIf="!tooltipDisabled" (mouseleave)="hideCircles()" >
        <svg:g ngx-charts-tooltip-area
               [dims]="dims"
               [xSet]="xSet"
               [xScale]="xScale"
               [yScale]="yScale"
               [results]="results"
               [colors]="colors"
               [tooltipDisabled]="tooltipDisabled"
               [tooltipTemplate]="seriesTooltipTemplate"
               (hover)="updateHoveredVertical($event)"
        />

        <svg:g *ngFor="let series of results">
          <svg:g ngx-charts-circle-series
                 [xScale]="xScale"
                 [yScale]="yScale"
                 [colors]="colors"
                 [activeEntries]="activeEntries"
                 [data]="series"
                 [scaleType]="scaleType"
                 [visibleValue]="hoveredVertical"
                 [tooltipDisabled]="tooltipDisabled"
                 [tooltipTemplate]="tooltipTemplate"
                 (select)="onClick($event, series)"
                 (activate)="onActivate($event)"
                 (deactivate)="onDeactivate($event)"
          />
        </svg:g>
      </svg:g>


    </svg:g>
  </svg:g>

</ngx-charts-chart>


